@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Primary-text
$pt-very-dark-blue: hsl(238, 29%, 16%);
$pt-dark-blue: hsl(240, 6%, 50%);

// Primary-gradient
$pg-soft-violet: hsl(273, 75%, 66%);
$pg-soft-blue: hsl(240, 73%, 65%);

// Neutral-text
$nt-very-dark-blue: hsl(237, 12%, 33%);
$nt-dark-blue: hsl(240, 6%, 50%);

// Neutral-dividers
$nd-grayish-blue: hsl(240, 4%, 91%);

// Hover-color
$hover-orange: hsl(14, 88%, 65%);

// Base-typography
$body-fs: 14px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $body-fs;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, $pg-soft-violet 0%, $pg-soft-blue 100%);
  margin-top: 120px;
}

//global classes
.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }
}

//component css
.container {
  background-color: white;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px #35127a7f;

  .woman {
    width: 266px;
    height: 196px;
    position: relative;
    top: -107px;
    left: -10px;

    &-design {
      width: 266px;
      height: 196px;
      background-image: url("./images/illustration-woman-online-mobile.svg");
    }

    &-shadow {
      background-image: url("./images/bg-pattern-mobile.svg");
      width: 240px;
      height: 104px;
      position: relative;
      top: -95px;
      left: 25px;
    }
  }

  .sub-container {
    padding: 0 24px 48px 24px;
    margin-top: -75px;

    h1 {
      margin-bottom: 25px;
      font-size: 32px;
    }

    .boxes {
      width: 280px;
      .box {
        border-bottom: 1px solid $nd-grayish-blue;

        .visible {
          width: 279px;
          height: 40px;
          align-items: center;
          justify-content: space-between;

          p {
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0px;
          }
        }

        .hidden {
          display: none;
          margin: 0px 25px 10px 0;
          font-size: 12px;
          line-height: 18px;
          color: $nt-dark-blue;
        }
      }
    }
  }
}

// JS classes

.bold {
  font-weight: bold;
}

//Responsive Style

@media (min-width: 1440px) {
  body {
    margin-top: 0;
    justify-content: center;
  }

  .container {
    flex-direction: row;
    width: 60vw;
    min-height: 509px;

    .woman {
      flex-grow: 2;

      &-design {
        background-image: url("./images/illustration-woman-online-desktop.svg");
        width: 472px;
        height: 359px;
      }

      &-shadow {
        background-image: url("./images/bg-pattern-desktop.svg");
        width: 472px;
        height: 462px;
        background-size: cover;
        position: relative;
        top: -413px;
        left: -4px;
      }
    }

    .sub-container {
      flex-grow: 1;
      align-items: flex-start;

      h1 {
        padding-top: 25%;
      }

      .boxes {
        .box {
          .visible {
            width: 320px;
            height: 50px;
          }
        }
      }
    }
  }

  .box:hover {
    color: $hover-orange;
    transition: 0.3s;
  }
}
